@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #ffd700; /* Change to your preferred hover color */
}

main {
  padding-top: 60px; /* Adjust based on the navbar height */
}

section {
  padding: 50px;
  text-align: center;
}

/* Highlight and center the active section in the navbar */
nav a.active {
  color: #ffd700; /* Change to your preferred active color */
}

.item-name {
  text-align: left;
  width: 80%;
  margin-top: 10px;
  font-size: 20px;
}

.price {
  text-align: right;
}

.item-descr {
  text-align: left;
  width: 80%;
  border-bottom: solid 1px black;
  font-size: 15px;
  color: #5b5a5a;
}
