body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #ffd700; /* Change to your preferred hover color */
}

main {
  padding-top: 60px; /* Adjust based on the navbar height */
}

section {
  padding: 50px;
  text-align: center;
}

/* Highlight and center the active section in the navbar */
nav a.active {
  color: #ffd700; /* Change to your preferred active color */
}

.menu-item {
  width: auto;
}

.item-name-price{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.item-name {
  width: 75%;
  padding: 8px;
  box-sizing: border-box;
  text-align: left;
}

.price {
  width: 20px;
  padding: 15px;
  box-sizing: border-box;
  text-align: right;
}

.item-descr {
  width: 75%;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 1px;
  text-align: left;
  border-bottom: 2px solid #000; /* Set the color and thickness of the underline */
  padding-bottom: 5px; /
}
